<ng-template #recursionTemplate let-data>
  <ul>
    <li *ngFor="let item of data">
      <i class="folder-toggler" *ngIf="item.children?.length" (click)="toggleChild($event); $event.stopPropagation()"></i>
      <fa-icon [icon]="faFolder" *ngIf="item.type === 'folder'"></fa-icon>
      <fa-icon [icon]="faFile" *ngIf="item.type === 'file'"></fa-icon>
      <span>{{item.name}}</span>
      <ng-container *ngIf="item.children">
        <span class="counter">({{item.children.length}})</span>
        <ng-template [ngTemplateOutlet]="recursionTemplate"
                     [ngTemplateOutletContext]="{$implicit: sortedNameAndTypeOfTreeData(item.children)}"></ng-template>
      </ng-container>
    </li>
  </ul>
</ng-template>

<ng-template [ngTemplateOutlet]="recursionTemplate" [ngTemplateOutletContext]="{$implicit: mtsData}">


</ng-template>
