/* You can add global styles to this file, and also import other style files */
body {
  font: 14px/26px monospace;
}

ul {
  ul {
    padding-left: 1em;
}
}

li {
  list-style: none;
  position: relative;
}
